html,
body {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Open Sans", "Arial", sans-serif;
	box-sizing: border-box;
	font-size: 12px;
}

/* NAavigation */
header {
	display: flex;
	background-color: #444444;
	text-transform: uppercase;
	border: none;
	padding-left: 100px;
}

nav > ul {
	display: flex;
	list-style: none;
	padding-left: 0;
}

nav a {
	text-decoration: none;
	color: #FFF;
}

nav a:hover {
	border-bottom: 1px solid #9ac051;
}

nav li {
	padding-right: 40px;
}

.main-site a {
	font-weight: 700;
}

/* Main image */

.main-image {
	background-image: url("../images/dewang-gupta-272186-unsplash.jpg");
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-text {
	color: #FFFFFF;
	text-align: center;
}

.main-text h1 {
	font-family: "Times New Roman", serif;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}

.main-text h2 {
	font-size: 20px;
	font-weight: 200;
	margin: 25px 0 30px 0;
}

.main-text .offer-button {
	background-color: #9ac051;
	color: #FFFFFF;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.main-text .offer-button:hover {
	background-color: #004C00;

}

/* why-us */

.why-us {
	height: 300px;
	background-color: #fcfbfb;
	border-bottom: solid .5px #f2f2f2;
	color: #444444;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}

.points h3 {
	font-family: "Times New Roman", serif;
	margin: 0 0 20px 0;
	font-size: 16px;
}

.points ul {
	list-style-type: none;
	padding-left: 0;
}

.points i {
	color: #9ac051;
	padding-right: 10px;
}

.points li {
	margin-bottom: 20px;
	font-size: 9px;
}

.points li span {
	font-weight: 600;
	font-size: 9px;
}

.offer {
	height: 200px;
}

.image img {
	border-radius: 5px;
}