html,
body {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Open Sans", "Arial", sans-serif;
	box-sizing: border-box;
	font-size: 12px;
}

/* NAavigation */
header {
	display: flex;
	background-color: #444444;
	text-transform: uppercase;
	border: none;
	padding-left: 100px;
}

nav>ul {
	display: flex;
	list-style: none;
	padding-left: 0;
}

nav a {
	text-decoration: none;
	color: #FFF;
}

nav a:hover {
	border-bottom: 1px solid #9ac051;
}

nav li {
	padding-right: 40px;
}

.main-site a {
	font-weight: 700;
}

/* Main image */

.main-image {
	background-image: url("../images/dewang-gupta-272186-unsplash.jpg");
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}


.main-text {
	color: #FFFFFF;
	text-align: center;
}

.main-text h1 {
	font-family: "Times New Roman", serif;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}

.main-text h2 {
	font-size: 20px;
	font-weight: 200;
	margin: 25px 0 30px 0;
}

.main-text .offer-button {
	background-color: #9ac051;
	color: #FFFFFF;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.main-text .offer-button:hover {
	background-color: #647e32;

}

/* why-us */

.why-us {
	height: 300px;
	background-color: #fcfbfb;
	border-bottom: solid .5px #f2f2f2;
	color: #444444;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}

.points h3 {
	font-family: "Times New Roman", serif;
	margin: 15px 0 30px 0;
	font-size: 18px;
}

.points ul {
	list-style-type: none;
	padding-left: 0;
}

.points i {
	color: #9ac051;
	padding-right: 10px;
}

.points li {
	margin-bottom: 20px;
	font-size: 9px;
}

.points li span {
	font-weight: 600;
	font-size: 9px;
}

.image img {
	border-radius: 5px;
}

.offer {
	display: flex;
	justify-content: space-between;
	padding: 0 100px;
}

.offer figure {
	border-radius: 10px;
	width: 200px;
	margin: 50px 0;
	background-color: #fcfbfb;
	border: 1px solid #f2f2f2;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.offer .circle-img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 20px;
}

.offer .skin {
	background-image: url("../images/love-romantic-bath-candlelight.jpg");
	background-position: bottom;
}

.offer .face {
	background-image: url("../images/pexels-photo-725998.jpeg");
	background-position: center;
}

.offer .body {
	background-image: url("../images/pexels-photo-259810.jpeg");
	background-position: bottom;
}


.offer h5 {
	text-transform: uppercase;
	color: #9ac051;
	font-weight: 200;
}

.offer p {
	margin: 0;
	color: #444444;
	text-align: center;
	font-size: 9px;
	padding: 0 20px;
}

.offer .read-more-less-btn {
	background-color: #647e32;
	color: #FFFFFF;
	font-size: 8px;
	padding: 5px 15px;
	border-radius: 5px;
	border: none;
	margin: 20px 0;
}

/* newsletter */

.newsletter {
	height: 120px;
	background-color: #9ac051;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter-form {
	display: flex;
	justify-content: center;
}

.newsletter-form input,
.newsletter-form button {
	border: none;
	border-radius: 5px;
	font-size: 10px;
}

.newsletter-form input {
	margin-right: 15px;
	padding: 5px 15px;
	width: 250px;
}

.newsletter-form button {
	background-color: #647e32;
	color: #fff;
	padding: 0 15px;
}

.newsletter h5 {
	text-transform: uppercase;
	font-family: "Times New Roman", serif;
	margin: 0 0 15px 0;
	font-size: 16px;
}

/* slider-container */

.slider-container {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider li img {
	width: 500px;
	border-radius: 5px;
}

.slider-stage {
	width: 500px;
}

.slider-container i {
	font-size: 25px;
}

.previous-arrow,
.next-arrow {
	color: #f2f2f2;
	padding: 20px;
	cursor: pointer;
}

.previous-arrow:hover,
.next-arrow:hover {
	color: #9ac051;
}

.slider {
	list-style: none;
	width: 500px;
	padding: 0;
	display: flex;
	overflow: hidden;
}

/* Go up */
.go-up {
	display: flex;
	justify-content: center;
	justify-items: center;
	height: 50px;
}

.go-up i {
	font-size: 25px;
	color: #444444;
	cursor: pointer;
}

.go-up i:hover {
	color: #9ac051;
}

/* Footer */
footer {
	display: flex;
	background-color: #444444;
	padding: 60px 100px;
	color: #FFF;
	justify-content: space-between;
}

footer>section {
	width: 200px;
}

.about-us h5 {
	font-family: "Times New Roman", serif;
	font-weight: 200;
	margin: 0 0 10px 0;
}

.about-us p {
	font-size: 8px;
	line-height: 2;
	margin: 0 0 20px 0;
}

.social-media {
	list-style: none;
	display: flex;
	padding: 0;
}

.social-media li {
	background-color: #9ac051;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.social-media a {
	color: #FFF;
	text-decoration: none;
}

.contact-details {
	width: 130px;
	margin-left: 25px;
}

.contact-details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contact-details li {
	font-size: 9px;
	margin-bottom: 12px;
	display: flex;
}

.contact-details a {
	color: #FFF;
	font-size: 9px;
	text-decoration: none;
}

.contact-details i {
	color: #9ac051;
	margin-right: 10px;
}

.quick-links {
	display: flex;
	width: 400px;
	margin-left: 30px;
}

.quick-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 150px;
}

.quick-links a {
	text-decoration: none;
	color: #FFF;
	font-size: 10px;
}

.quick-links a i {
	color: #9ac051;
	margin-right: 8px;
}

.quick-links li {
	border-bottom: .5px solid #666464;
	padding: 12px 0;
}

.quick-links li:first-child {
	padding-top: 0;
}